PORT=3004

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db_logs

KAFKA_BROKER=localhost:9094
KAFKA_CLIENT_ID=ms-logs
KAFKA_CONSUMER_GROUP=ms-logs-consumer

# Loki (push de logs de acceso del gateway)
LOKI_URL=http://localhost:3100